In [10]:
import pandas as pd

def load_data(path: str):
  years = list(range(2005, 2020))
  year2index = { y : i for (i, y) in enumerate(years) }
  data = [pd.read_excel(path, sheet_name=str(y)) for y in years]
  return data, years, year2index

data, years, year2index = load_data("./data/Brazilian Immigrants - modified.xlsx")
data[year2index[2005]].head()

,Type,Unnamed: 1,State Code,1,2,4,5,6,8,9,...,41,42,44,45,47,48,49,51,53,55
0,Population,NaN,Population,2030.0,88,1288.0,861.0,25111.0,1339.0,14021.0,...,571.0,7019.0,1143.0,2339.0,1355.0,7921.0,2904.0,6471.0,2505.0,804.0
1,Age,2.0,Age 0 to 4,78.0,0,0.0,0.0,305.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,20.0,0.0,87.0,0.0,0.0
2,Age,4.0,Age 05 to 09,172.0,0,0.0,116.0,1039.0,84.0,333.0,...,0.0,157.0,0.0,0.0,0.0,283.0,182.0,1180.0,0.0,85.0
3,Age,14.5,Age 10 to 19,242.0,0,0.0,0.0,2920.0,0.0,1309.0,...,0.0,748.0,0.0,119.0,0.0,382.0,360.0,439.0,467.0,213.0
4,Age,22.0,Age 20 to 24,0.0,0,67.0,0.0,1910.0,0.0,2153.0,...,120.0,795.0,75.0,577.0,0.0,831.0,154.0,394.0,97.0,0.0

In [11]:
def load_state_dict(path: str):
  data = pd.read_excel(path, sheet_name="State code")
  state_dict = dict()

  for i in data.index:
    abbrev = data["State Abbreviation"][i].lower()
    name = data["State Name"][i].lower()
    code = data["FIPS Code"][i]
    
    state_dict[code] = {
      "name": name,
      "abbrev": abbrev
    }

  return state_dict

state_dict = load_state_dict("./data/Brazilian Immigrants.xlsx")
state_dict

{1.0: {'name': 'alabama', 'abbrev': 'al'},
 2.0: {'name': 'alaska', 'abbrev': 'ak'},
 4.0: {'name': 'arizona', 'abbrev': 'az'},
 5.0: {'name': 'arkansas', 'abbrev': 'ar'},
 6.0: {'name': 'california', 'abbrev': 'ca'},
 8.0: {'name': 'colorado', 'abbrev': 'co'},
 9.0: {'name': 'connecticut', 'abbrev': 'ct'},
 10.0: {'name': 'delaware', 'abbrev': 'de'},
 11.0: {'name': 'district of columbia', 'abbrev': 'dc'},
 12.0: {'name': 'florida', 'abbrev': 'fl'},
 13.0: {'name': 'georgia', 'abbrev': 'ga'},
 15.0: {'name': 'hawaii', 'abbrev': 'hi'},
 16.0: {'name': 'idaho', 'abbrev': 'id'},
 17.0: {'name': 'illinois', 'abbrev': 'il'},
 18.0: {'name': 'indiana', 'abbrev': 'in'},
 19.0: {'name': 'iowa', 'abbrev': 'ia'},
 20.0: {'name': 'kansas', 'abbrev': 'ks'},
 21.0: {'name': 'kentucky', 'abbrev': 'ky'},
 22.0: {'name': 'louisiana', 'abbrev': 'la'},
 23.0: {'name': 'maine', 'abbrev': 'me'},
 24.0: {'name': 'maryland', 'abbrev': 'md'},
 25.0: {'name': 'massachusetts', 'abbrev': 'ma'},
 26.0: {'name': 'michigan', 'abbrev': 'mi'},
 27.0: {'name': 'minnesota', 'abbrev': 'mn'},
 28.0: {'name': 'mississippi', 'abbrev': 'ms'},
 29.0: {'name': 'missouri', 'abbrev': 'mo'},
 30.0: {'name': 'montana', 'abbrev': 'mt'},
 31.0: {'name': 'nebraska', 'abbrev': 'ne'},
 32.0: {'name': 'nevada', 'abbrev': 'nv'},
 33.0: {'name': 'new hampshire', 'abbrev': 'nh'},
 34.0: {'name': 'new jersey', 'abbrev': 'nj'},
 35.0: {'name': 'new mexico', 'abbrev': 'nm'},
 36.0: {'name': 'new york', 'abbrev': 'ny'},
 37.0: {'name': 'north carolina', 'abbrev': 'nc'},
 38.0: {'name': 'north dakota', 'abbrev': 'nd'},
 39.0: {'name': 'ohio', 'abbrev': 'oh'},
 40.0: {'name': 'oklahoma', 'abbrev': 'ok'},
 41.0: {'name': 'oregon', 'abbrev': 'or'},
 42.0: {'name': 'pennsylvania', 'abbrev': 'pa'},
 44.0: {'name': 'rhode island', 'abbrev': 'ri'},
 45.0: {'name': 'south carolina', 'abbrev': 'sc'},
 46.0: {'name': 'south dakota', 'abbrev': 'sd'},
 47.0: {'name': 'tennessee', 'abbrev': 'tn'},
 48.0: {'name': 'texas', 'abbrev': 'tx'},
 49.0: {'name': 'utah', 'abbrev': 'ut'},
 50.0: {'name': 'vermont', 'abbrev': 'vt'},
 51.0: {'name': 'virginia', 'abbrev': 'va'},
 53.0: {'name': 'washington', 'abbrev': 'wa'},
 54.0: {'name': 'west virginia', 'abbrev': 'wv'},
 55.0: {'name': 'wisconsin', 'abbrev': 'wi'},
 56.0: {'name': 'wyoming', 'abbrev': 'wy'},
 72.0: {'name': 'puerto rico', 'abbrev': 'pr'},
 78.0: {'name': 'virgin islands', 'abbrev': 'vi'}}

In [12]:
def query_by_attr_year(attr: str, year: int):
  df = data[year2index[year]]
  return df.loc[df.iloc[:, 0] == attr]

# row = query_by_attr_year("Average Age", 2006)
row = query_by_attr_year("Educational Attainment of population aged 25 or over", 2006)
row.head()

,Type,Unnamed: 1,State Code,1,4,5,6,8,9,10,...,45,46,47,48,49,50,51,53,54,55
33,Educational Attainment of population aged 25 o...,NaN,Less than high school,0.0,59.0,0,1525.0,0.0,1941.0,0.0,...,323.0,0.0,0.0,1261.0,143.0,0.0,623.0,233.0,0.0,0.0
34,Educational Attainment of population aged 25 o...,NaN,High School Graduate/GED or Alternative Creden...,233.0,65.0,0,5890.0,168.0,7099.0,0.0,...,358.0,0.0,0.0,2561.0,272.0,69.0,1113.0,111.0,0.0,219.0
35,Educational Attainment of population aged 25 o...,NaN,Some College/Associate Degree,150.0,275.0,0,6884.0,214.0,2101.0,392.0,...,0.0,0.0,0.0,1258.0,1058.0,0.0,1088.0,306.0,65.0,0.0
36,Educational Attainment of population aged 25 o...,NaN,Bachelors Degree or Higher,571.0,657.0,0,13598.0,719.0,2451.0,220.0,...,1050.0,0.0,503.0,3945.0,877.0,0.0,2525.0,1248.0,91.0,116.0

In [14]:
def query_by_attr_year_state(attr: str, year: int, state: int):
  row = query_by_attr_year(attr, year)
  value = np.around(row[state].to_numpy(), decimals=2) if state in row.columns else ([None] * len(row))
  return value, row.iloc[:, 2].to_list()

# print(query_by_attr_year_state("Average Age", 2006, state=1))
print(query_by_attr_year_state("Educational Attainment of population aged 25 or over", 2006, state=1))

(array([  0., 233., 150., 571.]), ['Less than high school', 'High School Graduate/GED or Alternative Credential', 'Some College/Associate Degree', 'Bachelors Degree or Higher'])

In [13]:
import numpy as np

def query_attr_over_years_by_state(attr: str, state: int):
  values = []

  for y in years:
    value, attrNames = query_by_attr_year_state(attr, y, state)
    values.append(value)
  
  return np.asarray(values).T, attrNames

# print(query_attr_over_years_by_state("Average Age", state=1))
print(query_attr_over_years_by_state("Educational Attainment of population aged 25 or over", state=1))

(array([[   0.,    0.,    0.,    0.,  164.,  450.,  199.,    0.,    0.,
           0.,    0.,    0.,    0.,    0.,  218.],
       [ 616.,  233.,    0.,    0.,    0.,  284.,  318.,    0.,    0.,
          79.,    0.,    0.,  266.,   94.,   58.],
       [  82.,  150.,  313.,  176.,  178.,   24.,  116.,    0.,  174.,
         277.,  222.,    0.,  181., 1007.,  480.],
       [ 840.,  571.,   66.,    0.,  277.,  956., 1337.,    0.,  426.,
         565.,  299.,  188.,  761.,  555.,  815.]]), ['Less than high school', 'High School Graduate/GED or Alternative Credential', 'Some College/Associate Degree', 'Bachelors Degree or Higher'])

In [15]:
from typing import List, Optional
import pyecharts.options as opts
from pyecharts.charts import Grid, Line
import os

def plot_proportion_over_years_of_states(
  state: int, 
  save_name: Optional[str] = None
):
  values_by_state, attr_names = query_attr_over_years_by_state("Educational Attainment of population aged 25 or over", state)
  state_name = state_dict[state]["name"].title()

  line = (
    Line()
    .add_xaxis(xaxis_data=[str(y) for y in years])
    .set_global_opts(
      title_opts=opts.TitleOpts(
        title=f"Educational Attainment of population aged 25 or over of {state_name} States"
      ),
      tooltip_opts=opts.TooltipOpts(trigger="axis", axis_pointer_type="cross"),
      yaxis_opts=opts.AxisOpts(
        type_="value",
        axistick_opts=opts.AxisTickOpts(is_show=True),
        splitline_opts=opts.SplitLineOpts(is_show=True)
      ),
      datazoom_opts=opts.DataZoomOpts(
        range_start=0,
        range_end=100
      ),
      legend_opts=opts.LegendOpts(is_show=True, pos_top=40)
    )
  )

  for (i, values) in enumerate(values_by_state):
    line.add_yaxis(
      series_name=attr_names[i],
      y_axis=values,
      label_opts=opts.LabelOpts(is_show=False)
    )

  grid = (
    Grid()
      .add(line, grid_opts=opts.GridOpts(pos_top=80))
  ) 

  if save_name is not None:
    grid.render(os.path.join("./education", save_name + ".html"))

  return grid

plot_proportion_over_years_of_states(
  state=48, 
  save_name="Education_tx"
).render_notebook()

In [16]:
for s in list(state_dict.keys()):
  plot_proportion_over_years_of_states(
    state=s, 
    save_name="education_" + state_dict[s]["abbrev"]
  )